<div *ngIf= "alert; else elseblock" class="alert alert-success alert-dismissible fade show" role="alert">
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
  <strong>Success !</strong> Your Data has been entered Successfully.
</div>
<ng-template #elseblock>
  <div>
    Sorry! Same User_id is already available.
  </div>
</ng-template>
<div class="sign-up-card">
  <h3>Log In</h3>
  <div class="input-div">
      <label for="name">User Id</label>
      <input type="number" placeholder="User Id" [(ngModel)]="userid">
  </div>
  <div class="input-div">
      <label for="Password">Password</label>
      <input type="password" placeholder="Password" [(ngModel)]="password">
  </div>
  <div class="btn" (click)="logInUser()">Log In</div>
  <p>Don't have account? <a href="sign">Sign Up</a></p>
</div>













<!-- <body>
  <h1 class="text-center">Student Login Page</h1>
  <div fxLayoutAlign="center center" fxFlexFill>
    <mat-card fxFlex="25">
      <form>
        <div class="mb-3">
          <label for="exampleUserName" class="form-label">User Name</label>
          <input
            type="text"
            class="form-control"
            id="exampleUserName"
            placeholder="Admin"
            name="username"
            [(ngModel)]="username"
          />
        </div>
        <div class="mb-3">
          <label for="exampleInputEmail1" class="form-label"
            >Email address</label
          >
          <input
            type="email"
            class="form-control"
            id="exampleInputEmail1"
            aria-describedby="emailHelp"
            placeholder="admin@gmail.com"
            required
          />
        </div>
        <div class="mb-3">
          <label for="exampleInputPassword1" class="form-label">Password</label>
          <input
            type="password"
            class="form-control"
            id="exampleInputPassword1"
            name="password"
            [(ngModel)]="password"
          />
        </div>
        <div class="mb-3 form-check">
          <input type="checkbox" class="form-check-input" id="exampleCheck1" />
          <label class="form-check-label" for="exampleCheck1"
            >Check me out</label
          >
        </div>
        <input type="submit" (click)="logInUser()" />
      </form>
    </mat-card>
  </div>
</body> -->

<!-- <div fxLayoutAlign="center center" fxFlexFill class="main-div">
  <mat-card fxFlex="25">
    <mat-toolbar color="primary">Login Page</mat-toolbar>
    <form fxLayoutAlign="stretch" fxLayout="column" class="login-form">
      <mat-form-field>
        <input matInput placeholder="Username">
      </mat-form-field>
    
      <mat-form-field>
        <textarea matInput type="password" placeholder="password"></textarea>
      </mat-form-field>
      <button mat-raised-button type="submit">Login</button>
    </form>
  </mat-card>
</div> -->
