<div class="sign-up-card">
    <h3>Sign Up</h3>
    <div class="input-div">
        <label for="name">User Name</label>
        <input type="text" placeholder="User Name">
    </div>
    <div class="input-div">
        <label for="id">User Id</label>
        <input type="text" placeholder="User Id">
    </div>
    <div class="input-div">
        <label for="id">Email Id</label>
        <input type="email" placeholder="Email Id">
    </div>

    <div class="input-div">
        <label for="Password">Password</label>
        <input type="password" placeholder="Password">
    </div>
    <div class="input-div">
        <label for="confirm">Confirm Password</label>
        <input type="password" placeholder="Confirm Password">
    </div>
    <div class="btn" (click)="signUpUser()">Sign Up</div>
    <p>Already have account? <a href="login">Log In</a></p>
  </div>